altgraph==0.17.4
ansys-api-mechanical==0.1.2
ansys-api-platform-instancemanagement==1.1.0
ansys-mechanical-core==0.11.9
ansys-mechanical-env==0.1.8
ansys-mechanical-stubs==0.1.4
ansys-platform-instancemanagement==1.1.2
ansys-pythonnet==3.1.0rc4
ansys-tools-path==0.6.0
appdirs==1.4.4
certifi==2024.8.30
cffi==1.17.1
charset-normalizer==3.4.0
click==8.1.7
clr-loader==0.2.6
colorama==0.4.6
contourpy==1.3.0
cycler==0.12.1
ebmlite==3.3.1
endaq==1.5.3
flexcache==0.3
flexparser==0.4
fonttools==4.54.1
graphviz==0.21
grpcio==1.67.1
idelib==3.2.10
idna==3.10
importlib_metadata==8.5.0
Jinja2==3.1.4
kiwisolver==1.4.7
MarkupSafe==3.0.2
matplotlib==3.9.2
natsort==8.4.0
numpy==2.1.3
packaging==24.2
pandas==2.2.3
pefile==2023.2.7
pillow==11.0.0
Pint==0.24.4
platformdirs==4.3.6
plotly==5.24.1
protobuf==5.28.3
psutil==6.1.0
pycparser==2.22
pyinstaller==6.11.0
pyinstaller-hooks-contrib==2024.9
pynmeagps==1.0.43
pyparsing==3.2.0
PyQt5==5.15.11
PyQt5-Qt5==5.15.2
PyQt5_sip==12.15.0
PyQtWebEngine==5.15.7
PyQtWebEngine-Qt5==5.15.2
python-dateutil==2.9.0.post0
python-dotenv==1.0.1
pytz==2024.2
pywin32-ctypes==0.2.3
requests==2.32.3
scipy==1.14.1
setuptools==80.9.0
six==1.16.0
tenacity==9.0.0
tqdm==4.67.0
typing_extensions==4.12.2
tzdata==2024.2
urllib3==2.2.3
zipp==3.20.2
